
// jade -w index.jade -o ../

extends layout

block content

  .header
    .truck
    .logo
    .clear
  .wood
    .title
      +dots('left')
      +dots('right')
      .copy A Treat Truck Just For Dogs!

    .copy This summer, we're taking our kitchen on the road and bringing our 100% real, home-style treats to dogs across America. We think all dogs deserve the same goodness as the rest of the family; that's why every one of our wholesome treats is made in the USA. Come visit the treat Truck for:

    ul.list
      li Free samples
      li Family portraits
      li Personalized giveaways
      li Enjoy our lounge
      .clear

    .schedule
      .title COME SEE US WHEN WE'RE IN YOUR TOWN!
      .subtitle
        +dots('left')
        +dots('right')
        .copy 2014 Tour Schedule
      .seeall.cta
        .paw
        .copy SEE ALL UPCOMING DATES
      .clear
      .map
      .events
        - var current_market = ''
        - var months = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        each event, index in events
          if event.Market != current_market
            .location #{event.Market}
          - var current_market = event.Market
          .event(data-event=JSON.stringify(event))
            //- var parsed = event['Date'].split('/');
            //- var date = new Date(parsed[0], parsed[1], parsed[2])
            span.date #{event.Date}:
            span.title #{event.Event}
      .clear
    .rsvp.cta
      .reminder
      .copy RSVP &amp; SHARE
    .clear
    .gallery
      .title
        +dots('left')
        +dots('right')
        .copy Treat Truck Family Fun
      .description See how dog are enjoying the Milo's Kitchen Treat Truck with their parents. Upload your own picture and tag it <span class="hashtag">#MKTreatTruck</span> to get it on the fun!
      .pictures
        .inner.page1(data-page=1)
          each picture in gallery
            .picture
              img(src=picture.img)
      .nav
        .prev
          .arrow
            img(src='./img/arrow-left.png')
          .copy PREVIOUS
         
        .next 
          .copy NEXT
          .arrow
            img(src='./img/arrow-right.png')

    .clear
  .truckevent.off
    .close(data-el='.truckevent')
      .line.one
      .line.two
    .clear
    .bullets
      .label AT THE EVENT:
      ul.list
        li Free samples
        li Family portraits
        li Enjoy our lounge
        li Personalized giveaways

  .recipes.off
    .inner
      .close(data-el='.recipes')
        .line.one
        .line.two
      .clear
      each recipe, index in recipes
        .recipe
          .image
            img(src='./img/' + recipe.img)
          .title !{recipe.name}
    .clear
  .story.off
    .topbar
    .close(data-el='.story')
      .line.one
      .line.two
    .dog
      img(src='./img/dog_story.png')
    .title We are pet parents, too.
    .copy
      p That's why all our home-style dog treats are 100% real and made in the USA.
      p Our dogs share our lives. Those first eager greetings in the morning. That last curl-up-and-cuddle at the end of the day. Our dogs aren't just the four-legged members of our family. They're family.
      p So don't they deserve a treat that lives up to the high standards we set for the rest of our loved ones?
      p That's why we created Milo's Kitchen&reg; dog treats. Because in our kitchen, our dogs deserve only the best. That means treats with 100% real chicken or beef as the #1 ingredient. Each one made totally free of artificial flavors or colors and each one made right here in the USA. We believe they deserve treats made with the same quality of ingredients and care that you want for your food.
      p Because, after all, our dogs are family. And they deserve to be treated like family.
    .clear

  .wood
    .extras
      .extra.experience
        .copy The Treat Truck Experience
      .extra.recipes
        .copy The Recipes
      .extra.story
        .copy Our Story
    .clear
    
    .rsvp2
      .left Now that you've learned about the Treat Truck, click to:
      .right
        .reminder
        .copy RSVP &amp; SHARE
      .clear
    .visit
      .copy Visit our website to learn more about Milo's Kitchen&reg;.
      .link
        a(href='http://www.miloskitchen.com',target='_new') www.miloskitchen.com
  .fade.off
  .modal.off
    .header
      .close.beige(data-el='.modal')
        .line.one
        .line.two
      span#Event
    .body 
      p 
        span#Address
        span , 
        span#City
        span &nbsp;
        span#State
      p 
        span#Date
        span , 
        span#Day
        span &nbsp;
        span#Time
      //.input
        input(type='text',placeholder='Email Address')
        input(type='checkbox',checked=true)
        .button SIGN UP
        span Opt In
    .header
      .button RSVP
      .button SHARE
      .clear
